{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - {{ controle.name }}
{% endblock %}

{% block body %}
	
	<article class="article">
		<h2 class="section-title">{{ controle.name }} - {{ controle.matiere }}</h2>
	</article>

	<article class="article info">
		<div class="noter">
			<div class="wrap">
				<p>
					Ajouté le <strong>{{ controle.date|date('Y - d/m') }}</strong><br>
					Moyenne <strong>{{ controle.moyenne }}</strong>
				</p>

				<div class="eleves-a-noter">
					<table class="liste-eleves-a-noter">

						<tr>
							<th>
								Elève
							</th>
							<th>
								Note
							</th>
						</tr>
						{% for note in controle.notes %}

							<tr>
								<td><a class="in-list li-list" href="{{ path('user_show', {role: 'eleve', username: note.eleve.username}) }}">{{ note.eleve }}</a></td>
								<td>{{ note.note }} / {{ note.coefficient }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Aucune note encore ajoutée</td>
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

			<p>
				<a href="{{ path('cours_show', { id: controle.cours.id }) }}" class="button">Aller au cours</a>
				<a href="{{ path('kub_notes_professeur_edit', {id: controle.id})}}" class="button">Modifier</a>
			</p>
			
		</div>

	</article>

{% endblock %}
