{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
	<article class="article login-error-message color-light">
		<span>{{ error|trans }}</span>
	</article>
{% endif %}

<article class="article login-error-box">
	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <label for="username">{{ 'security.login.username'|trans }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required" />

	    <label class="remember" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	    <input class="remember" type="checkbox" id="remember_me" name="_remember_me" value="on" />

	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>
</article>
