{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Supprimer la fréquence {{ frequence }}
{% endblock %}

{% block body %}

	<article class="error">
		{{ form_start(form) }}

			<p>Êtes vous sûr de vouloir supprimer la fréquence <strong>{{ frequence }}</strong> ?</p>

			<br />
			<input class="button-yes" type="submit"> ou <a class="button-no" href="{{ path('frequence_list') }}">Annuler</a>	
		{{ form_end(form) }}
	</article>
			
{% endblock %}