{% extends "::base.html.twig" %}

{% block body %}
	
	<article class="article">
		<h2 class="section-title">Modifier la fréquence {{ frequence }}</h2>
	</article>

	{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

			{% include "KubEDTBundle:Frequence:form.html.twig" %}

			<span class="validate">
				<input class="button-yes" type="submit">
				<a class="button" href="{{ path('frequence_list') }}">Annuler</a>
				<a class="button-no" href="{{ path("frequence_delete", { id: frequence.id }) }}">Supprimer {{ frequence }}</a>
			</span>
		{{ form_end(form) }}		
			
{% endblock %}

{% block js %}

	<script type="text/javascript" src="{{ asset('ressources/select2/select2.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('ressources/select2/select2.css') }}" />
	{{ form_javascript(form) }}
	{{ form_stylesheet(form) }}

{% endblock %}