{% extends 'KubCollaborationBundle::layout.html.twig' %}

{% set documentheque = projet.documentheque %}

{% block content %}

	<h3 class="h2 article">Liste des documents</h3>

	<article class="article">

		<div class="create">
			<a class="button-yes" href="{{ path('kub_collaboration_documentheque_ressource_create', { slug: projet.slug}) }}">Déposer une ressource</a>
			<a class="button-yes" href="{{ path('kub_collaboration_documentheque_fichier_create', { slug: projet.slug}) }}">Créer un fichier</a>
		</div>

		<label for="search-in-list">Chercher dans la liste :</label>
		<input id="search-in-list" type="text">

		<div class="documentheque">
			<div class="documentheque-ressources">
				<h3>Ressources</h3>
				<ul class="liste">
					{% set empty = false %}

					{% for ressource in documentheque.ressources %}
						<li class="ressource in-list">
							<span class="label">{{ ressource.titre }}</span>
							<div class="details">
								<span class="infos">
									{% set length = ressource.description | length %}
									{% if length < 46 %}
										{{ ressource.description }}
									{% else %}
										{{ ressource.description | slice(0, 45) }}...
									{% endif %}
									</span>				
								<span class="infos-complementaires"><em>
									<a href="{{ path('kub_collaboration_documentheque_ressource_show', { slug: projet.slug, id: ressource.id}) }}">Voir</a> - 
									<a href="{{ path('kub_collaboration_documentheque_ressource_edit', { slug: projet.slug, id: ressource.id}) }}">Modifier</a></em>
								</span>
							</div>
						</li>
					{% else %}
						{% set empty = true %}
					{% endfor %}
					
					{% if empty == true %}
						<p class="error">Il n'y a aucune ressource</p>
					{% endif %}

				</ul>
			</div>

			<div class="documentheque-fichiers">
				<h3>Fichiers</h3>
				<ul class="liste">
					{% set empty = false %}

					{% for fichier in documentheque.fichiers %}
						<a href="{{ path('kub_collaboration_documentheque_fichier_go', { slug: projet.slug, id: fichier.id}) }}">
							<li class="ressource in-list">
								<span class="label">{{ fichier.titre }}</span>
								<div class="details">
									<span class="infos">
										{% set length = fichier.description | length %}
										{% if length < 46 %}
											{{ fichier.description }}
										{% else %}
											{{ fichier.description | slice(0, 45) }}...
										{% endif %}
										</span>				
									<span class="infos-complementaires"><em>
										<a href="{{ path('kub_collaboration_documentheque_fichier_show', { slug: projet.slug, id: fichier.id}) }}">Voir</a> - 
										<a href="{{ path('kub_collaboration_documentheque_fichier_edit', { slug: projet.slug, id: fichier.id}) }}">Modifier</a></em>
									</span>
								</div>
							</li>
						</a>
					{% else %}
						{% set empty = true %}
					{% endfor %}

					{% if empty == true %}
						<p class="error">Il n'y a aucun fichier</p>
					{% endif %}

				</ul>
			</div>
		</div>

	</article>

{% endblock %}