{% extends "::base.html.twig" %}

{% block body %}

	
		<article class="article">
			<h2 class="section-title">Êtes vous sûr de vouloir supprimer le compte de {{ user.prenom }} {{ user.nom }} ?</h2>
		</article>

		<article class="article">
			{{ form_start(form) }}

				{% block form %}
				{% endblock %}

				<input type="submit"> ou 
				<a href="{{ path('user_list', { role: role }) }}">Annuler</a>	
			{{ form_end(form) }}
		</article>
		
			
{% endblock %}