{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }} - Messages
{% endblock %}

{% block body %}
    
    <div class="article">
        <h3 class="section-title">Mes messages</h3>
    </div>

	<article class="article">

        <ul class="liens">
            <li><a class="button" href="{{ url('fos_message_inbox') }}">Boite de réception</a></li>
            <li><a href="{{ url('fos_message_thread_new' )}}" class="button-yes">Nouveau</a></li>
            <li><a class="button-espace-collaboratif" href="{{ url('fos_message_sent') }}">Messages envoyées</a></li>
            <li><a class="button-no" href="{{ url('fos_message_deleted') }}">Messages supprimés</a></li>
        </ul>

    {% block fos_message_content %}{% endblock %}

	</article>
{% endblock %}