{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Ressources
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Ressources</h2>
	</article>

	<article class="article">
		<div class="liste-ressources">

			<ul class="liste">
				{% for ressource in ressources %}
			
					<a href="{{ ressource.url }}" target="_blank">
						<li class="ressource in-list {{ ressource.type }} {{ ressource.niveau }} {{ ressource.matiere }}">

							<span class="label">{{ ressource.titre }}</span>

							{#{% if ressource.type == 'web' %}
							
								<iframe class="preview" src="about:blank"></iframe>
							
							{% elseif ressource.type == 'file' %}
								
								<img class="preview" src="about:blank" alt="{{ ressource.titre }}">			

							{% endif %}#}
							
							<div class="details">
								<span class="infos">{{ ressource.description }}</span>				
								<span class="infos-complementaires"><em><strong>{{ ressource.auteur }}</strong> {{ ressource.matiere }} {{ ressource.niveau | lower }}</em></span>
							</div>

						</li>
					</a>

				{% endfor %}
			</ul>
			
		</div>

		<div class="tri-ressources">
			<ul class="wrap options-tri">
				<li class="in-tri-ressources checked" id="seconde" class="unchecked">Seconde</li>
				<li class="in-tri-ressources checked" id="premiere" class="unchecked">Première</li>
				<li class="in-tri-ressources checked" id="terminale" class="unchecked">Terminale</li>
			</ul>

			<ul class="wrap options-tri">
				<li class="in-tri-ressources checked" id="1" class="unchecked">Fichier</li>
				<li class="in-tri-ressources checked" id="0" class="unchecked">Web</li>
			</ul>
			
			<div class="matieres">
				<select multiple id="matiere" name="matiere" class="select2">
					<option value="Français">Français</option>
					<option value="Mathématiques">Mathématiques</option>
					<option value="Histoire-Géographie">Histoire-Géographie</option>
					<option value="Sport">Sport</option>
					<option value="Anglais">Anglais</option>
					<option value="Espagnol">Espagnol</option>
					<option value="Cinéma">Cinéma</option>
					<option value="Allemand">Allemand</option>
					<option value="Musique">Musique</option>
					<option value="Italien">Italien</option>
					<option value="SI">SI</option>
					<option value="SES">SES</option>
					<option value="PFEG">PFEG</option>
					<option value="Physique">Physique</option>
					<option value="Litérrature">Litérrature</option>
					<option value="ISN">ISN</option>
					<option value="Autre">Autre</option>
				</select>
			</div>
			<input class="ressources" id="search-in-list" type="text" placeholder="Nom du fichier">
		</div>

	</article>

{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ asset('ressources/select2/select2.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('ressources/select2/select2.css') }}" />
	<script type="text/javascript" src="{{ asset('ressources/jsmin/search.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ressources/jsmin/fuse.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ressources/jsmin/ressources.min.js') }}"></script>
{% endblock %}