{% extends "::base.html.twig" %}

{% block body %}

	<article class="article">
		
		{{ include('KubRessourceBundle:Search:form.html.twig') }}

	</article>

	<article class="article">

		<ul>
			{% for ressource in ressources %}
		
				<li>
					{{ ressource.titre }} - {{ ressource.description }}

					{% if ressource.type == 'web' %}
	
						<a href="{{ ressource.url }}">Voir sur le web</a>
	
					{% elseif ressource.type == 'file' %}

						<a href="{{ path(ressource.webPath) }}">Télécharger</a>					
	
					{% endif %}

				</li>

			{% endfor %}
		</ul>

	</article>

{% endblock %}