{% extends "::base.html.twig" %}

{% block body %}

	{% if is_granted('ROLE_PROFESSEUR') %}

		<article class="article">
			
			{{ render(controller("KubRessourceBundle:Default:add")) }}

		</article>

	{% endif %}

	<article class="article">
			
		<ul>
			{% for ressource in ressources %}
		
				<li>
					{{ ressource.titre }} - {{ ressource.description }}

					{% if ressource.url %}
	
						<a href="{{ ressource.url }}">Voir sur le web</a>
	
					{% elseif ressource.file == 'file' %}

						<a href="{{ path(ressource.webPath) }}">Télécharger</a>					
	
					{% endif %}

				</li>

			{% endfor %}
		</ul>

	</article>

{% endblock %}