{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Ressources
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Ressources</h2>
	</article>

	<article class="article">
		<div class="liste-ressources">

			<ul class="liste">
				{% for ressource in ressources %}
			
					<li class="li-list in-list {{ ressource.type }} {{ ressource.niveau }} {{ ressource.matiere }}">
						{{ ressource.titre }} - {{ ressource.description }}

						{% if ressource.type == 'web' %}
		
							<a href="{{ ressource.url }}">Voir sur le web</a>
		
						{% elseif ressource.type == 'file' %}

							<a href="{{ path(ressource.webPath) }}">Télécharger</a>					

						{% endif %}

					</li>

				{% endfor %}
			</ul>
			
		</div>

		<div class="tri-ressources">
			<ul class="wrap niveau">
				<li class="in-tri-ressources" id="seconde" class="unchecked">2nd</li>
				<li class="in-tri-ressources" id="premiere" class="unchecked">1ere</li>
				<li class="in-tri-ressources" id="terminale" class="unchecked">Ter.</li>
			</ul>

			<ul class="wrap type">
				<li class="in-tri-ressources" id="1" class="unchecked">Fichier</li>
				<li class="in-tri-ressources" id="0" class="unchecked">Web</li>
			</ul>
			
			<div class="matieres">
				<select multiple id="matiere" name="matiere" class="select2">
					<option value="Français">Français</option>
					<option value="Mathématiques">Mathématiques</option>
					<option value="Histoire-Géographie">Histoire-Géographie</option>
					<option value="Sport">Sport</option>
					<option value="Anglais">Anglais</option>
					<option value="Espagnol">Espagnol</option>
					<option value="Cinéma">Cinéma</option>
					<option value="Allemand">Allemand</option>
					<option value="Musique">Musique</option>
					<option value="Italien">Italien</option>
					<option value="SI">SI</option>
					<option value="SES">SES</option>
					<option value="PFEG">PFEG</option>
					<option value="Physique">Physique</option>
					<option value="Litérrature">Litérrature</option>
					<option value="ISN">ISN</option>
					<option value="Autre">Autre</option>
				</select>
			</div>
			<input class="ressources" id="search-in-list" type="text" placeholder="Nom du fichier">
		</div>

	</article>

{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ asset('ressources/select2/select2.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('ressources/select2/select2.css') }}" />
	<script type="text/javascript" src="{{ asset('ressources/jsmin/search.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ressources/jsmin/fuse.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ressources/jsmin/ressources.min.js') }}"></script>
{% endblock %}