<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{{ asset('ressources/stylesheets/main.css') }}" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
	<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
	<!--[if lt IE 9]>
	  <link rel="stylesheet" href="{{ asset('ressources/stylesheets/main-ie8.css') }}">
	<![endif]-->
	<title>{% block title %}Kub{% endblock %}</title>
</head>

<body class="body">
	
	<header class="header">
		<div id="logo" class="color-light">
			<h1 class="h2">Kub</h1>
			<span class="slogan">créé par LaBrush</span>
		</div>
	
		{% if is_granted("ROLE_USER") %}
			<button id="button-options" class="button-options">{{ app.user.prenom }} {{ app.user.nom }}</button>
			<div id="options-box" class="options-box-closed">	
				{{ knp_menu_render('compte') }}
			</div>
		{% else %}
			{% block login %}{% endblock %}
		{% endif %}

	</header>

	{% if is_granted("ROLE_USER") %}
		<span id="button-menu">
			Menu
			<img  id="chevron-bas" src="{{ asset('ressources/images/Chevron-bas.png') }}">
			<img  id="chevron-haut" style="display: none" src="{{ asset('ressources/images/Chevron-haut.png') }}">
		</span>
		<nav class="nav">
			<div class="menu">
				{% include 'KubUserBundle:Menu:menu.html.twig' %}
			</div>
		</nav>

	{% endif %}


	<section class="{% block sectionClass %}section{% endblock %}">
		{% for flashMessage in app.session.flashbag.get('info') %}
			<article class="error">
			    <p>{{ flashMessage }}</p>
			</article>
		{% endfor %}

		{% block body %}{% endblock %}
	</section>


	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
	<script type="text/javascript" src="{{ asset('ressources/jsmin/jquery.min.js') }}"></script>

	{% if is_granted("ROLE_USER") %}
		<script type="text/javascript" src="{{ asset('ressources/jsmin/nav.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('ressources/jsmin/options.min.js') }}"></script>
	{% endif %}

	{% block js %}{% endblock %}
	
</body>
</html>