{{ form_start(form) }}

	<span class="commentaire">
		{{ form_widget(form.contenu, { 'attr': {'placeholder': 'Commentez ici...'} }) }}
		<label for="create-new-commentaire-{{ post.id }}" class="add">Ajouter</label>
		<input id="create-new-commentaire-{{ post.id }}" type="submit" hidden=""></input>
	</span>

{{ form_end(form) }}