<table>

    <thead>
        <tr>
            <th>Sujet</th>
            <th>Commencé par</th>
            <th>Messages</th>
            <th>Dernier message</th>
            <th>Supprimer</th>
        </tr>
    </thead>

    <tbody>

    {% if threads %}
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject }}
                    </a>

                    {% if not fos_message_is_read(thread) %}
                        <span class="notifications">Nouveau</span>
                    {% endif %}
                </td>
                <td>
                    {{ thread.createdBy }}
                </td>
                <td>
                    {{ thread.messages|length }}
                </td>
                <td>
                    {% if thread.lastMessage %}
                        <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}">
                            Le {{ thread.lastMessage.createdAt | date('d/m/y à H:i')}}
                            <br />
                            Par {{ thread.lastMessage.sender|e }}
                        </a>
                    {% else %}
                        ----
                    {% endif %}
                </td>
                <td>
                    {% if fos_message_can_delete_thread(thread) %}
                        {% if fos_message_deleted_by_participant(thread) %}
                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}Restaurer{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}Supprimer{% endset %}
                        {% endif %}
                        <form action="{{ formAction }}" method="post">
                                <input type="submit" value="{{ submitValue }}" class="delete-message"/>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                Aucun message
            </td>
        </tr>
    {% endif %}

    </tbody>

</table>
