{% extends 'KubMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<div class="conversation">
    <div class="messages">
        <div class="participants">
            {% for participant in thread.participants %}
                {% if participant.username != app.user.username %}
                    <span class="sender"><h3 class="bold">{{ participant }}</h3 class="bold"></span>
                {% else %}
                    <span class="recever"><h3 class="bold">{{ participant }}</h3 class="bold"></span>
                {% endif %}    
            {% endfor %}
        </div>

        {% for message in thread.messages %}
            <div class="from-{% if message.sender.username == app.user.username %}sender{% else %}recever{% endif %}">
                <span><em>
                    Le <strong>{{ thread.lastMessage.createdAt | date('d/m/y')}}</strong> à <strong>{{ thread.lastMessage.createdAt | date('H:i')}} :</strong>
                </em></span>
                <p>{{ message.body }}</p>
            </div>
        {% endfor %}
    </div>

    <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post" class="message-write">
        {{ form_errors(form) }}

        <input type="submit" class="button-yes send-message" value="Envoyer" />

        <div class="message-write">{{ form_errors(form.body) }}{{ form_widget(form.body, {"attr" : {"placeholder" : "Répondre..."}}) }}</div>

        {{ form_widget(form) }}
    </form>
</div>

{% endblock %}
