<article class="article-news bordered-espace-collaboratif">
	<div class="head-article">
		<h2 class="h2">{{ notification.titre }}</h3>
		<span class="small bold">Le {{ notification.date | date('d/m') }} à {{ notification.date | date('H:i') }}</span>
	</div>
	<div class="content-article">
		<p>
			{{ notification.format( app.user.class ) | raw }}
		</p>
	</div>
	<div class="buttons-article-news">
		<a class="button-{{ notification.type }}" href="{{ path(notification.route, notification.routeAttr) }}">{{ notification.routeTitle }}</a>
	</div>
</article>