{% block form %}

	<span class="name">
		{{ form_errors(form.name) }}
		Nom <span class="input">{{ form_widget(form.name) }}</span>
	</span>

	<span class="fin">
		Fin du projet
		{{ form_errors(form.dateFin) }} <span class="input">{{ form_widget(form.dateFin) }}</span>
	</span>

	<span class="description">
		Catégorie du projet
		{{ form_errors(form.categorie) }} <span class="input">{{ form_widget(form.categorie) }}</span>
	</span>

	<span class="description">
		{{ form_label(form.description) }}
		{{ form_errors(form.description) }} <span class="input">{{ form_widget(form.description) }}</span>
	</span>

	<table class="permissions-add description" data-prototype="{% filter escape %}{% include 'KubCollaborationBundle:Projet:permissions_form.html.twig' with {'form': form.permissions.vars.prototype} %}{% endfilter %}">
		
		{% for permission in form.permissions %}
			<tr class="permissions">
				{% include 'KubCollaborationBundle:Projet:permissions_form.html.twig' with {'form': permission} %}
			</tr>
		{% endfor %}
		
	</table>

	<span class="permissions-button">
		<a class="button add-another-permissions" href="#" >Ajouter un utilisateur</a>
	</span>

{% endblock %}