{# On prépare les variables twig #}

{#{% set matiere = "" %}
{% set jauges = "" %}
{% set legendes = "" %}
{% set moyennes = "" %}
{% set details = "" %}
{% set coefficientRatio = 0 %}
{% set noteSurVingt = 0 %}

{% for note in eleve.notes %}

	{% if note.controle.matiere.name != matiere %}

		{% if loop.first == false %}

			{% set details = details ~ '</tr></table>' %}

			{% set moyennes = moyennes ~ '<div class="moyenne-' ~ matiere ~ '">' ~ moyenneMatiere | number_format(1) ~ '</div>' %}

		{% endif %}
		
		{% set totalNotes = 0 %}

		{% set totalCoefficient = 0 %}

		{% set moyenneMatiere = 0 %}
	
		{% set matiere = note.controle.matiere.name %}

		{% set jauges = jauges ~ '<div class="jauge-' ~ matiere ~ '">&nbsp;</div>' %}

		{% set legendes = legendes ~ '<div class="legende-' ~ matiere ~ '">' ~ matiere ~ '</div>' %}

		{% set details = details ~ '

		<table class="detail detail-' ~ matiere ~ '">
			<tr>
				<th colspan="3">' ~ matiere ~ '</th>
			</tr>
			<tr>
		' %}

	{% endif %}

	{% set coefficientRatio = note.coefficient / 20 %}

	{% set noteSurVingt = note.note / note.coefficient * 20 %}

	{% set totalCoefficient = totalCoefficient + coefficientRatio %}

	{% set totalNotes = totalNotes + ( noteSurVingt * coefficientRatio ) %}

	{% set moyenneMatiere = totalNotes / totalCoefficient %}

	{% if app.user.id == note.controle.professeur.id or app.user.id == note.eleve.id %}
					
			{% set details = details ~ '
				<tr>
					<td>
						<strong>' ~ note.note | number_format(1) ~ ' / ' ~ note.coefficient ~ '</strong>
					</td>
					<td>
						<strong>' ~ note.controle.nom ~ '</strong> <em>Le ' ~ note.controle.date | date('d/m/y') ~ '</em>
					
			' %}

			{% if is_granted("ROLE_PROFESSEUR") %}
	
				{% set link = path("kub_notes_professeur_edit", {id: note.controle.id})  %}
				{% set details = details ~ '<a href="' ~ link ~'">Modifier</a>' %}

			{% endif %}

			{% set details = details ~ '</td></tr>' %}

	{% endif %}

	{% if loop.last %}

		{% set moyennes = moyennes ~ '<div class="moyenne-' ~ matiere ~ '">' ~ moyenneMatiere | number_format(1) ~ '</div>' %}

	{% endif %}
	
{% endfor %}

<article class="article">
	<table class="notes-by-matieres">
		<tr class="graph-hidden">
			<td colspan="10">
				{{ jauges | raw }}
			</td>
		</tr>
		<tr class="moyennes">
			<td>
				{{ moyennes | raw }}
			</td>
		</tr>
		<tr class="matieres-name">
			<td>
				{{ legendes | raw }}
			</td>
		</tr>
	</table>
</article>

<article class="article">

	<div class="wrap-details">
		{{ details | raw }}
	</div>

</article>#}

<article class="article">
	<table class="notes-by-matieres">
		{% for moyenne in moyennes %}
			<tr class="graph-hidden">
				<td colspan="10">
					<div class="jauge-{{ moyenne.matiere }}">&nbsp;</div>
				</td>
			</tr>
			<tr class="moyennes">
				<td>
					<div class="moyenne-{{ moyenne.matiere }}">{{ moyenne.note | number_format(1) }}</div>
				</td>
			</tr>
			<tr class="matieres-name">
				<td>
					<div class="legende-{{ moyenne.matiere }}">{{ moyenne.matiere }}</div>
				</td>
			</tr>
		{% endfor %}
	</table>
</article>

<article class="article">

	{% for nom, matiere in matieres %}

		<div class="wrap-details">

			<table class="detail detail-' ~ matiere ~ '">
				<tr>
					<th colspan="2">{{ nom }}</th>
				</tr>
				
				{% for note in matiere if note.controle.cours.professeur.id == app.user.id or app.user.class == "eleve" %}
					<tr>
						<td>
							<strong>{{ note.note | number_format(1) }} / {{ note.coefficient }}</strong>
						</td>
						<td>
							{{ note.controle.name }} <em>Le {{ note.controle.date | date('d/m/y') }}</em>
						</td>
					</tr>
				{% endfor %}
				

	{% endfor %}

</article>
