<article class="article">
	<table class="notes-by-matieres">
		<tr class="graph-hidden">
			<td colspan="10">
				{% for moyenne in moyennes %}
					<div class="jauge-{{ moyenne.matiere }}">&nbsp;</div>
				{% endfor %}
			</td>
		</tr>
		<tr class="moyennes">
			<td>
				{% for moyenne in moyennes %}
					<div class="moyenne-{{ moyenne.matiere }}">{{ moyenne.note | number_format(1) }}</div>
				{% endfor %}
			</td>
		</tr>
		<tr class="matieres-name">
			<td>
				{% for moyenne in moyennes %}
					<div class="legende-{{ moyenne.matiere }}">{{ moyenne.matiere }}</div>
				{% endfor %}
			</td>
		</tr>
	</table>
</article>

<article class="article">

	{% for nom, matiere in matieres %}

		<div class="wrap-details">

			<table class="detail detail-' ~ matiere ~ '">
				<tr>
					<th colspan="2">{{ nom }}</th>
				</tr>
				
				{% for note in matiere if note.controle.cours.professeur.id == app.user.id or app.user.class == "eleve" %}
					<tr>
						<td>
							<strong>{{ note.note | number_format(1) }} / {{ note.coefficient }}</strong>
						</td>
						<td>
							{{ note.controle.name }} <em>Le {{ note.controle.date | date('d/m/y') }}</em>
						</td>
					</tr>
				{% endfor %}
				

	{% endfor %}

</article>
