{% set section = knp_menu_get ('main') %}

{% for categorie in section.children %}

	<ul class="submenu">
		<a href="{{ categorie.uri }}">
			<li class="h3 li-menu bordered-{{ categorie.labelAttributes.className }}">
				{{ categorie.name|raw }}
			</li>
		</a>

		{% for page in categorie.children %}
			<a href="{{ page.uri }}">
				<li class="li-menu">
					{{ page.name }}
				</li>
			</a>
		{% endfor %}
	</ul>

{% endfor %}