<table class="edt">
	
	<tr>
		
		<td class="hour-bottom-solid"></th>

		{% for jour in liste_jours %}

			<th>{{ jour|capitalize }}</th>

		{% endfor %}

	</tr>

	{% for row in edt %}

		<tr>
		
			<td class="hour-edt">
				{{ row.interval.horaire.debut|date('H:i') }}
			</td>

			{% for jour in row.jours %}
				{% for interval in jour %}
					{% set cours = interval.horaire.cours %}

					<td rowspan={{ interval.rowSpan }} class="bottom-dashed {{ cours.matiere.categorie.abreviation }}">

						<span class="info-cours">{{ cours.matiere | upper }}</span>
						<span class="info-cours"><em>M. {{ cours.professeur.nom }}</em></span>

					</td>

				{% endfor %}
			{% endfor %}

		</tr>

	{% endfor %}

</table>
