<style> 

	table
	{
		border-collapse:collapse;
	}

	th, td
	{
		border: 1px solid black ;
		min-width: 70px ;
		padding: 10px ;
	}

	tr
	{
		height: 30px ;
	} </style>

<table>
	
	<tr>
		
		<th>Horaire/Jour</th>

		{% for jour in liste_jours %}

			<th>{{ jour|capitalize }}</th>

		{% endfor %}

	</tr>

	{% for row in edt %}
		<tr>
		
			<td>
				{{ row.interval.debut|date('H:i') }}
				{{ row.interval.fin|date('H:i') }}
			</td>

			{% for jour in row.jours %}
				{% for interval in jour %}
					{% set cours = interval.horaire.cours %}

					<td rowspan={{ interval.rowSpan }}>
						
						{{ cours }}

					</td>

				{% endfor %}
			{% endfor %}

		</tr>

	{% endfor %}

</table>
