<table class="edt">
	
	<tr>
		
		<td class="hour-bottom-solid"></th>

		{% for jour in liste_jours %}

			<th>{{ jour|capitalize }}</th>

		{% endfor %}

	</tr>

	{% for row in edt %}
		<div>
		   	{# Traitement de la ligne des heures #}

			{% set hour = row.interval.debut|date('H:i') %}
			{% set class = null %}

			{% if hour == "08:00" %}
				
					{% set hour = "8h" %}
					{% set class = "" %}

			{% elseif hour == "08:30" %}

					{% set hour = "8h55" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "09:00" %}

					{% set hour = "9h" %}
					{% set class = "hour-bottom-dashed" %}

			{% elseif hour == "09:30" %}

					{% set hour = "9h50" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "10:00" %}

					{% set hour = "10h05" %}
					{% set class = "hour-bottom-dashed" %}

			{% elseif hour == "10:30" %}

					{% set hour = "11h" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "11:00" %}
		
					{% set hour = "11h05" %}
					{% set class = "hour-bottom-dashed" %}

			{% elseif hour == "11:30" %}
		
					{% set hour = "11h55" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "12:00" %}
		
					{% set hour = "12h" %}
					{% set class = "hour-bottom-dashed" %}

			{% elseif hour == "12:30" %}
		
					{% set hour = "13h" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "13:00" %}
		
					{% set hour = "" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "13:30" %}
		
					{% set hour = "13h30" %}
					{% set class = "hour-bottom-dashed" %}

			{% elseif hour == "14:00" %}
		
					{% set hour = "14h25" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "14:30" %}
		
					{% set hour = "14h30" %}
					{% set class = "hour-bottom-dashed" %}

			{% elseif hour == "15:00" %}
		
					{% set hour = "15h20" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "15:30" %}
		
					{% set hour = "15h30" %}
					{% set class = "hour-bottom-dashed" %}

			{% elseif hour == "16:00" %}
		
					{% set hour = "16h20" %}
					{% set class = "hour-bottom-solid" %}

			{% elseif hour == "16:30" %}
		
					{% set hour = "16h25" %}
					{% set class = "hour-bottom-dashed" %}

			{% elseif hour == "17:00" %}

					{% set hour = "17h20" %}
					{% set class = "hour-bottom-solid" %}

			{% endif %}
		</div>

		<tr id="{{ hour }}">
		
			<td class="hour-edt {{ class }}">
				{{ hour }}
			</td>

			{% for jour in row.jours %}
				{% for interval in jour %}
					{% set cours = interval.horaire.cours %}

					<div>
						{# Traitement des couleurs #}

						{% set matiere = cours.matiere %}

						{% if matiere == "Français" %}
							
								{% set matiere = "langue" %}

						{% elseif matiere == "Mathématiques" %}
							
								{% set matiere = "scientifique" %}

						{% elseif matiere == "Anglais" %}
							
								{% set matiere = "langue" %}

						{% elseif matiere == "Espagnol" %}
							
								{% set matiere = "langue" %}

						{% elseif matiere == "Cinéma" %}
							
								{% set matiere = "autre" %}

						{% elseif matiere == "Allemand" %}
							
								{% set matiere = "langue" %}

						{% elseif matiere == "Musique" %}
							
								{% set matiere = "autre" %}

						{% elseif matiere == "Italien" %}
							
								{% set matiere = "langue" %}

						{% elseif matiere == "SI" %}
							
								{% set matiere = "scientifique" %}

						{% elseif matiere == "SES" %}
							
								{% set matiere = "social-histoire" %}

						{% elseif matiere == "PFEG" %}
							
								{% set matiere = "social-histoire" %}

						{% elseif matiere == "Physique" %}
							
								{% set matiere = "scientifique" %}

						{% elseif matiere == "Litérature" %}
							
								{% set matiere = "langue" %}

						{% elseif matiere == "Histoire-Géographie" %}
							
								{% set matiere = "social-histoire" %}

						{% elseif matiere == "Sport" %}
							
								{% set matiere = "autre" %}

						{% elseif matiere == "ISN" %}
							
								{% set matiere = "scientifique" %}

						{% elseif matiere == "Autre" %}
							
								{% set matiere = "autre" %}
								
						{% endif %}
					</div>

					<td rowspan={{ interval.rowSpan }} class="bottom-dashed {{ matiere }}">


						<span class="info-cours">{{ cours.matiere | upper }}</span>
						<span class="info-cours"><em>M. {{ cours.professeur.nom }}</em></span>

					</td>

				{% endfor %}
			{% endfor %}

		</tr>

	{% endfor %}

</table>
