{% set size = 20 %}

<style>
	
	.edt ul {
		float: left ;
		max-width:  15% ;
	}

	.edt li {
		overflow: hidden;
		padding: 0;
	}

	article.article {
		width: 95%;
		max-width: 95%;

		margin-left: 10% ;
	}

	@media screen and (max-width: 960px) {
		article.article {
			margin-left: 0 ;
		}
	}

</style>

<div class="edt">
	
	<ul>
		<li></li>

		{% for horaire in liste_horaires %}
			{% if loop.index % 2 == 1 and loop.index != loop.last %}
				<li style="height: {{ size * 2 }}px">
					
					<span class="sup">{{ horaire | date_modify("+5 minutes") | date('H\\hi') }}</span>
					<br>
					<span class="sub">{{ liste_horaires[loop.index+1] | date('H\\hi') }}</span>

				</li>
			{% endif %}
		{% endfor %}
	</ul>

	{% for jour in edt %}
		<ul>
			<li>{{ jour.nom }}</li>
			{% for interval in jour.intervals %}
				
				<li class="hour-bottom-dashed" style="height: {{ interval.rowspan * size }}px">
					{{ interval.horaire.cours }} <br>
					
					De {{ interval.horaire.debut | date('H\\hi') }}
					à {{ interval.horaire.fin | date('H\\hi') }}
				</li>

			{% endfor %}
		</ul>

	{% endfor %}

</div>
