{% set size = 20 %}

<div class="edt">
	
	<ul class="hour-column">
		<li class="entree">00h00</li>

		{% for horaire in liste_horaires %}
			{% if loop.index % 2 == 1 and loop.index != loop.last %}
				<li chass="hours" style="height: {{ size * 2 }}px">

					<span class="hour-bottom-dashed">{{ horaire | date_modify("+5 minutes") | date('H\\hi') }}</span>
					<span class="hour-bottom-solid">{{ liste_horaires[loop.index+1] | date('H\\hi') }}</span>

				</li>
			{% endif %}
		{% endfor %}
	</ul>

	{% for jour in edt %}
		<ul>
			<li class="jours {{ jour.nom }}">{{ jour.nom | capitalize }}</li>
			{% for interval in jour.intervals %}
				{% set cours = interval.horaire.cours %}
				{% if cours is not null %}
					
					<a href="{{ path('cours_show', { id: cours.id }) }}">
						<li class="{{ jour.nom }} interval {{ cours.matiere.categorie.abreviation }}" style="height: {{ interval.rowspan * size }}px">
							<div class="wrapper" style="height: {{ interval.rowspan * size }}px">
								<span class="info-cours">{{ cours.matiere | upper }}</span>

								{% if not is_granted("ROLE_PROFESSEUR") %}
									<span class="info-cours"><em>M. {{ cours.professeur.nom }}</em></span>
								{% endif %}

								{% if is_granted("ROLE_PROFESSEUR") %}
									{% set groupes = "" %}
									{% for groupe in cours.groupes %}

										{% set groupes = groupes ~ groupe %}
										{% if 1 == loop.revindex0 %}
											{% set groupes = groupes ~ ' et ' %}
										{% elseif 1 < loop.revindex0 %}	
											{% set groupes = groupes ~ ', ' %}
										{% endif %}

									{% endfor %}

									<span class="info-cours"><em>{{ groupes }}</em></span>
								{% endif %}
							</div>
						</li>
					</a>
				{% else %}
				    <li class="{{ jour.nom }} interval" style="height: {{ interval.rowspan * size }}px">
					</li>
				{% endif %}
			{% endfor %}
		</ul>

	{% endfor %}

</div>