{% block form %}

	<span class="matiere">{{ form_label(form.matiere) }}  {{ form_widget(form.matiere) }}</span>
	
	<span class="eleves-a-noter">
		<table class="liste-eleves-a-noter">

			{% for i in form %}
				
				{% if i.noter is defined %}
					
					<tr>
						<th>
							Elève
						</th>
						<th>
							Present
						</th>
						<th>
							Note
						</th>
					</tr>

					<tr>
						<td>
							<strong>{{ form_label(i) }}</strong>
						</td>
						<td>
							{{ form_widget(i.noter) }}
						</td>
						<td>
							{{ form_widget(i.note) }} / {{ form_widget(i.coefficient) }}
						</td>
					</tr>

				{% endif %}

			{% endfor %}

		</table>
	</span>

{% endblock %}