{% block form %}
	
	<div class="noter">
		<div class="wrap">
			<span class="prenom">
				{{ form_errors(form.name) }}
				{{ form_label(form.name) }}  <span class="input">{{ form_widget(form.name, {'attr': {'tabindex': '1'}}) }}</span>
			</span>

			<span>
				{{ form_row(form.date) }}
			</span>

			<span class="eleves-a-noter">
				<table class="liste-eleves-a-noter">

					<tr>
						<th>
							Elève
						</th>
						<th>
							Noter
						</th>
						<th>
							Note&nbsp;&nbsp;/ <input type="text" class="coeff-global" tabindex="2"></span>
						</th>
					</tr>
			
					{% set i = 3 %}
					{% for note in form.notes %}

						<tr>
							<td>
								<strong>{{ form_label(note.note) }}</strong>
							</td>
							<td>
								{{ form_errors(note.noter) }}
								{{ form_widget(note.noter) }}
							</td>
							<td>
								{{ form_errors(note.note) }} {{ form_errors(note.coefficient) }}
								{{ form_widget(note.note, { 'attr': {'class': 'note', 'tabindex': i }}) }} / {{ form_widget(note.coefficient, { 'attr': {'class': 'coeff'} }) }}
							</td>
						</tr>

			
						{% set i = i + 1 %}
					{% endfor %}

				</table>
			</span>
		</div>
	</div>

{% endblock %}