{% block form %}
	
	<div class="noter">
		<div class="wrap">
			<span class="prenom">
				{{ form_errors(form.nom) }}
				{{ form_label(form.nom) }}  <span class="input">{{ form_widget(form.nom) }}</span>
			</span>

			{#<span class="nom">
				{{ form_errors(form.matiere) }}
				{{ form_label(form.matiere) }}  <span class="input">{{ form_widget(form.matiere) }}</span>
			</span>#}
			
			<span class="eleves-a-noter">
				<table class="liste-eleves-a-noter">

					<tr>
						<th>
							Elève
						</th>
						<th>
							Noter
						</th>
						<th>
							Note&nbsp;&nbsp;/ <input type="text" class="coeff-global"></span>
						</th>
					</tr>
			
					{% for note in form.notes %}
								
						<tr>
							<td>
								<strong>{{ form_label(note) }}</strong>
							</td>
							<td>
								{{ form_errors(note.noter) }}
								{{ form_widget(note.noter) }}
							</td>
							<td>
								{{ form_errors(note.note) }} {{ form_errors(note.coefficient) }}
								{{ form_widget(note.note) }} / {{ form_widget(note.coefficient, { 'attr': {'class': 'coeff'} }) }}
							</td>
						</tr>

					{% endfor %}

				</table>
			</span>
		</div>
	</div>

{% endblock %}