{% block form %}

	<span class="matiere">
		{{ form_errors(form.matiere) }}
		{{ form_label(form.matiere) }}  {{ form_widget(form.matiere) }}
	</span>
	
	<span class="eleves-a-noter">
		<table class="liste-eleves-a-noter">

			<tr>
				<th>
					Elève
				</th>
				<th>
					Noter
				</th>
				<th>
					Note / <div class="input coeff-global"><input type="text" class="coeff-global-value"></div>
				</th>
			</tr>
	
			{% for note in form.notes %}
						
				<tr>
					<td>
						<strong>{{ form_label(note) }}</strong>
					</td>
					<td>
						{{ form_errors(note.noter) }}
						{{ form_widget(note.noter) }}
					</td>
					<td>
						{{ form_errors(note.note) }} - {{ form_errors(note.coefficient) }}
						{{ form_widget(note.note) }} / {{ form_widget(note.coefficient, { 'attr': {'class': 'coeff'} }) }}
					</td>
				</tr>

			{% endfor %}

		</table>
	</span>

{% endblock %}