{% block form %}

	<span class="matiere">
		{{ form_label(form.matiere) }} <div class="input">{{ form_widget(form.matiere) }}</div>
	</span>

	{% for i in form %}

		{% if i.noter is defined %}
			
			{{ form_label(i) }}
			
			<span class="noter">
				{{ form_label(i.noter) }} <div class="input">{{ form_widget(i.noter) }}</div>
			</span>

			<span class="note">
				{{ form_label(i.note) }} <div class="input">{{ form_widget(i.note) }}</div>
			</span>

			<span class="coefficient">
				{{ form_label(i.coefficient) }} <div class="input">{{ form_widget(i.coefficient) }}</div>
			</span>

		{% endif %}

	{% endfor %}

{% endblock %}