{% block form %}

	<span class="matiere">
		{{ form_errors(form.matiere) }}
		{{ form_label(form.matiere) }}  <div class="input">{{ form_widget(form.matiere) }}</div>
	</span>

	<span class="coefficient-global">
		Coefficient commun a toute la classe (Modifiable au cas par cas) : <div class="input coeff-global"><input type="text" class="coeff-global-value"></div>
	</span>
	
	<span class="eleves-a-noter">
		<table class="liste-eleves-a-noter">

			{% for i in form %}
				
				{% if i.noter is defined %}
					
					<tr>
						<th>
							Elève
						</th>
						<th>
							Present
						</th>
						<th>
							Note
						</th>
					</tr>

					<tr>
						<td>
							<strong>{{ form_label(i) }}</strong>
						</td>
						<td>
							{{ form_errors(i.noter) }}
							{{ form_widget(i.noter) }}
						</td>
						<td>
							{{ form_errors(i.note) }} - {{ form_errors(i.coefficient) }}
							{{ form_widget(i.note) }} / {{ form_widget(i.coefficient, { 'attr': {'class': 'coeff'} }) }}
						</td>
					</tr>

				{% endif %}

			{% endfor %}

		</table>
	</span>

{% endblock %}