{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Notes des groupes
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Dernieres notes ajoutées</h2>
	</article>
    
	<article class="article">

		<label for="search-in-list">Chercher dans la liste :</label>
		<input id="search-in-list" type="text">
		
		<ul class="liste">
			{% for cours in liste_cours %}
			
				<a href="{{ path('kub_notes_professeur_homepage', { cours: cours.id }) }}">
					<li class="in-list li-list">
						<span>{{ cours}}</span>
					</li>
				</a>

			{% endfor %}

			{% if liste_cours|length == 0 %}
				<li>Aucun cours enregistré pour le moment</li>
			{% endif %}
		</ul>
	</article>

{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ asset('ressources/jsmin/search.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ressources/jsmin/fuse.min.js') }}"></script>
{% endblock %}