{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Noter {{ eleve }}
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Noter {{ eleve }}</h2>
	</article>

    <article class="article">

		{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

			<div class="noter">
				<div class="wrap">
					
					<span>
						{{ form_errors(form.controle) }}
						{{ form_label(form.controle) }}  <span class="input">{{ form_widget(form.controle) }}</span>
					</span>

					<div id="new-detail">
						
						<span class="prenom">
							{{ form_errors(form.name_new) }}
							{{ form_label(form.name_new) }}  <span class="input">{{ form_widget(form.name_new) }}</span>
						</span>

						<span>
							{{ form_errors(form.date_new) }}
							{{ form_label(form.date_new) }}  <span class="input">{{ form_widget(form.date_new) }}</span>
						</span>

						<span>
							{{ form_errors(form.cours_new) }}
							{{ form_label(form.cours_new) }}  <span class="input">{{ form_widget(form.cours_new) }}</span>
						</span>

					</div>

					<span class="eleves-a-noter">
						<table class="liste-eleves-a-noter">

							<tr>
								<th>
									Elève
								</th>
								<th>
									Note / Coefficient
								</th>
							</tr>
							<tr>
								<td>
									<strong>{{ form_label(form.note) }}</strong>
								</td>
								<td>
									{{ form_errors(form.note) }} {{ form_errors(form.coefficient) }}
									{{ form_widget(form.note, { 'attr': {'data-eleve-id': eleve.id} }) }} / {{ form_widget(form.coefficient, { 'attr': {'class': 'coeff'} }) }}
								</td>
							</tr>

						</table>
					</span>
				</div>
			</div>

			<span class="validate">
				<input class="button-yes" type="submit">
				<a class="button" href="{{ path('kub_notes_professeur_homepage') }}">Annuler</a>
			</span>

		{{ form_end(form) }}

	</article>
{% endblock %}

{% block js %}
	
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('ressources/jsmin/notes.min.js') }}"></script>

	<script>

		$(function($){
			var newDetail = $('#new-detail'), 
				note = $('#kub_notesbundle_note_note'),
				coefficient = $('#kub_notesbundle_note_coefficient'),
				eleve_id = $('[data-eleve-id]').attr('data-eleve-id')
			;

			$('#kub_notesbundle_note_controle').change(function(){
				var id = parseInt($(this).val());

				if(id == 0){
					newDetail.show(300);
				} else {
					newDetail.hide(300);
				}

				$.ajax({
					url: "{{path('kub_api_notes_eleve_get')}}",
					data: {
						'controle_id': id,
						'eleve_id': eleve_id,
					},
					type: "POST",
					timeout: 3000,
					success: function(r){
						r = JSON.parse(r);

						if(r.state == 1)
						{
							note.val(r.note);
							coefficient.val(r.coefficient);
						}
						else
						{
							note.val('');
							coefficient.val('');
						}
					}
				});
			})
			.children().last()
			.children().last()
			.prop('selected', true)
			.trigger('change')
			;

			newDetail.hide();
		});

	</script>

{% endblock %}