{% extends "::base.html.twig" %}

{% set groupes = "" %}
{% for groupe in cours.groupes %}

		{% set groupes = groupes ~ groupe ~ ' ' %}

{% endfor %}

{% block title %}
	{{ parent() }} - Noter {{ groupes }}
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Noter les {{groupes}}</h2>
	</article>

    <article class="article">

		{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

			{% include "KubNoteBundle:Professeur:form.html.twig" %}

			<span class="validate">
				<input class="button-yes" type="submit">
				<a class="button" href="{{ path('kub_notes_professeur_homepage') }}">Annuler</a>
			</span>

		{{ form_end(form) }}

	</article>
{% endblock %}

{% block js %}
	
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('ressources/jsmin/notes.min.js') }}"></script>

{% endblock %}