{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Noter les {{ groupe.name }}
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Noter les {{ groupe.name }}</h2>
	</article>

    <article class="article">

		{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

			{% include "KubNoteBundle:Professeur:form.html.twig" %}

			<span class="validate">
				<input class="button-yes" type="submit">
				<a class="button" href="{{ path('kub_notes_professeur_homepage') }}">Annuler</a>
			</span>
		{{ form_end(form) }}

	</article>
{% endblock %}