{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Notes de {{ eleve }}
{% endblock %}

{% block body %}
	
	<article class="article">
		<h3 class="section-title">Notes de {{ eleve }}</h3>
	</article>

	{% include "KubNoteBundle:Show:show_content.html.twig" %}

{% endblock %}

{% block js %}
	
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('ressources/jsmin/notes.min.js') }}"></script>

{% endblock %}