{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

	{% include('KubArianeBundle:Post:form.html.twig') %}
	
	<div class="validate">
		<input type="submit" class="button-yes">
		<a class="button" href="{{ path('ariane_homepage') }}">Annuler</a>
	</div>
	
{{ form_end(form) }}

{% block js %}
	
	{{ form_stylesheet(form) }}
	{{ form_javascript(form) }}

{% endblock %}