{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Modifier la trace {{ post.titre }}
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">{{ post.titre }}</h2>
	</article>

	<article class="article">
		
		{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}
			
			{% include('KubArianeBundle:Post:form.html.twig') %}
			
			<div class="validate">
				<input type="submit" class="button-yes">
				<a class="button" href="{{ path('ariane_homepage') }}">Annuler</a>
				<a class="button-no" href="{{ path('ariane_post_delete', { 'id': post.id }) }}">Supprimer</a>
			</div>
		{{ form_end(form) }}

	</article>

{% endblock %}

{% block js %}
    
    {{ parent() }}
    <!-- <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script> -->
    <script type="text/javascript" src="{{ asset('ressources/tinymce/tinymce.min.js') }}"></script>
    <script>
		jQuery(document).ready(function($) {
		    var $configs = {
				        selector: "textarea",
				        plugins: [
				                "autolink link charmap",
				                "searchreplace",
				                "textcolor"
				        ],

				        toolbar1: "undo redo | bold italic underline strikethrough | forecolor | subscript superscript charmap | removeformat | searchreplace | link unlink",
				        toolbar2: "",
				        toolbar3: "",

				        menubar: false,
				        statusbar: false,
				        toolbar_items_size: 'small',
				};
		    tinyMCE.init($configs);
		});
	</script>

{% endblock %}