{% block form %}

	<div class="titre">
		{{ form_errors(form.titre) }}
		{{ form_label(form.titre) }} <div class="input">{{ form_widget(form.titre) }}</div>
	</div>

	<div class="va voir chez les grecs ce qu'ils en pensent">
		<p>Du {{ form_widget(form.debut.day) }} {{ form_widget(form.debut.month) }} {{ form_widget(form.debut.year) }} au {{ "now"|date("m/d/Y") }}</p>
	</div>

	<div class="contenu">
		{{ form_errors(form.contenu) }}
		<div class="input">{{ form_widget(form.contenu) }}</div>
	</div>

{% endblock %}