{% block form %}

	<div class="titre">
		{{ form_errors(form.titre) }}
		{{ form_label(form.titre) }} <div class="input">{{ form_widget(form.titre) }}</div>
	</div>

	<div class="va voir la bas si j'y suis et laisse ces champs visibles">
		{{ form_errors(form.debut) }}
		{{ form_label(form.debut) }} <div class="input">{{ form_widget(form.debut) }}</div>
	<div>

	<div class="va voir la bas si j'y suis et laisse ces champs visibles">
		{{ form_errors(form.fin) }}
		{{ form_label(form.fin) }} <div class="input">{{ form_widget(form.fin) }}</div>
	</div>

	<div class="contenu">
		{{ form_errors(form.contenu) }}
		<div class="input">{{ form_widget(form.contenu) }}</div>
	</div>

{% endblock %}