{% block form %}

	<div class="hidden">{{ form_widget(form.debut) }}</div>
	<div class="hidden">{{ form_widget(form.fin) }}</div>

	<span class="titre">
		{{ form_errors(form.titre) }}
		{{ form_label(form.titre) }} <div class="input">{{ form_widget(form.titre) }}</div>
	</span>

	<span class="contenu">
		{{ form_errors(form.contenu) }}
		<div class="input">{{ form_widget(form.contenu) }}</div>
	</span>

{% endblock %}