{% extends "::base.html.twig" %}

{% block body %}

	<article class="article">
		<a class="button-yes" href="{{ path('kub_messagerie_new') }}">Nouveau</a>
		<a href="{{ path('kub_messagerie_delete', { id: thread.id }) }}">Supprimer</a>
	</article>

	<article class="article">

		{% set participants = "" %}
		{% for user in thread.users %}
		    {% set participants = participants ~ ', ' ~ user %}
		{% endfor %}

		{% for groupe in thread.groupes %}
		    {% set participants = participants ~ ', ' ~ groupe %}
		{% endfor %}

		<h3>Avec {{ participants }}</h3>

		<ul>
		{% for message in thread.messages %}
		    <li>{{ message }}</li>
		{% endfor %}
		</ul>

	</article>

	<article class="article">
		
		{{ render(controller("KubMessagerieBundle:Default:send", { id: thread.id })) }}

	</article>

{% endblock %}