{% extends "::base.html.twig" %}

{% block body %}

		<article class="error">
			{{ form_start(form) }}

<<<<<<< HEAD
			<p>Êtes vous sûr de vouloir supprimer le groupe {{ groupe }} ?</p>
=======
			<p>Êtes vous sûr de vouloir supprimer le groupe <strong>{{ groupe.name }}</strong> ?</p>
>>>>>>> 71a38655790c7a470339b137f2e58d3dfeea45ce

				{% block form %}
				{% endblock %}
				
				<br />
				<input class="button-yes" type="submit"> ou <a class="button-no" href="{{ path('groupe_list') }}">Annuler</a>	
			{{ form_end(form) }}
		</article>
		
			
{% endblock %}