{% block form %}

	<span class="prenom">
		{{ form_errors(form.name) }}
		{{ form_label(form.name) }} <div class="input">{{ form_widget(form.name) }}</div>
	</span>

	<span class="niveau">
		{{ form_errors(form.niveau) }}
		{{ form_label(form.niveau) }} <div class="input">{{ form_widget(form.niveau) }}</div>
	</span>

	{% if form.eleves is defined %}
		<span class="eleves">
			{{ form_errors(form.eleves) }}
			{{ form_label(form.eleves) }} <div class="input">{{ form_widget(form.eleves) }}</div>
		</span>
	{% endif %}


{% endblock %}