{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - {{ groupe }}
{% endblock %}

{% block body %}
	
	<article class="article">
		<h2 class="section-title">{{ groupe }}</h2>
	</article>

	{% if is_granted('ROLE_PROFESSEUR') %}
		<article class="article">
				{{ render(controller('KubNoteBundle:Professeur:list', {'groupe': groupe})) }}
		</article>
	{% endif %}

	<article class="article infos">

		{% if is_granted('ROLE_SECRETAIRE') %}
			
			<span class="modifier">
				<a class="button" href="{{ path("groupe_edit", {id: groupe.id }) }}">Modifier</a>
			</span>

		{% endif %}

		{% if groupe.eleves|length > 0 %}
			<span class="label">Eleves de {{ groupe }}:</span>
				<ul class="liste">
					
					{% for eleve in groupe.eleves %}
						<a href="{{ path('user_show', {role: eleve.class, username: eleve.username}) }}"><li class="li-list">
							<img src="{{ asset( eleve.photo.webPath) }}" alt="{{ eleve }}" class="profil-picture"/>
							<span>{{ eleve.prenom }} {{ eleve.nom }}</span>
						</li></a>
					{% endfor %}

				</ul>
			</span>
		{% endif %}

	</article>

	<article class="article">
	
		{% if is_granted("ROLE_SECRETAIRE") or is_granted("ROLE_SURVEILLANT") %}
			{{ ShowEDT( groupe ) }}
		{% endif %}

	</article>


{% endblock %}
