{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - {{ groupe }}
{% endblock %}

{% block body %}
	
	<article class="article">
		<h2 class="section-title">{{ groupe }}</h2>
	</article>

	<article class="article infos">

		{#<span class="label">Niveau :</span>
		<span class="info">{{ groupe.niveau | capitalize }}</span>#}


		{% if groupe.eleves|length > 0 %}
			<span class="label">Eleves de {{ groupe }}:</span>
				<ul class="liste">
					
					{% for eleve in groupe.eleves %}
						<a href="{{ path('user_show', {role: eleve.class, username: eleve.username}) }}"><li class="li-list">
							<img src="{{ asset( eleve.photo.webPath) }}" alt="{{ eleve }}" class="profil-picture"/>
							<span>{{ eleve.prenom }} {{ eleve.nom }}</span>
						</li></a>
					{% endfor %}

				</ul>
			</span>
		{% endif %}
		
		{% if is_granted('ROLE_SECRETAIRE') %}
			
			<span class="modifier">
				<a class="button" href="{{ path("groupe_edit", {id: groupe.id }) }}">Modifier</a>
			</span>

		{% elseif app.user.class == "professeur" %}
			
			<span class="modifier">
				<a class="button" href="{{ path('kub_notes_professeur_homepage', { groupe: groupe.name }) }}">Noter</a>
			</span>

		{% endif %}

	</article>

{% endblock %}
