{% extends "KubUserBundle:Show:show.html.twig" %}

{% block details %}

	<span class="label">Date de naissance :</span>
	<span class="info">{{ user.anniversaire | date('d/m/Y') }}</span>

	<span class="label">Niveau de l'élève :</span>
	<span class="info">{{ user.niveau | capitalize }}</span>

	{% if user.tuteurs|length > 0 %}
		<span class="label">Tuteurs de {{ user }}</span> 

			<ul class="liste">
				
				{% for tuteur in user.tuteurs %}
					<li class="li-list"><a href="{{ path('user_show', {role: user.class, username: user.username}) }}">{{ tuteur.prenom }} {{ tuteur.nom }}</a></li>
				{% endfor %}

			</ul>

	{% endif %}

	{% if user.groupes|length > 0 %}
		<span class="label">Groupes de {{ user }} :</span>

			<ul class="liste">
				
				{% for groupe in user.groupes %}
					<li class="li-list"><a href="{{ path('groupe_show', {id: groupe.id}) }}">{{ groupe }}</a></li>
				{% endfor %}

			</ul>

	{% endif %}

	{% if is_granted("ROLE_PROFESSEUR") and app.user.hasEleve(user) %}
		
		<span class="modifier">
			<a class="button" href="{{ path("ariane_homepage", {username: user.username}) }}">Suivi de l'élève</a>
		</span>

		<span class="modifier">
			<a class="button" href="{{ path("kub_notes_eleve_show", {username: user.username}) }}">Notes de l'élève</a>
		</span>

		<span class="modifier">
			<a class="button" href="{{ path('kub_notes_professeur_noter_eleve', { eleve: user.username }) }}">Noter {{ user }}</a>
		</span>


	{% endif %}

{% endblock %}