{% extends '::base.html.twig' %}

{% block title %}
	{{ parent() }} - Projets
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Mes projets</h2>
	</article>

	<article class="article">
		
		{% if liste_projets|length > 0 %}
			<a href="{{ path('kub_collaboration_projet_create') }}" class="button">Créer un projet</a>

			<label for="search-in-list">Chercher dans la liste :</label>
			<input id="search-in-list" type="text">
		{% endif %}

		<ul class="liste">

		{% for projet in liste_projets %}

			<a href="{{ path('kub_collaboration_projet_show', { slug: projet.slug }) }}">
				<li class="project in-list {{ projet.categorie.abreviation | default('none') }}">

					<span class="label">{{ projet.toString(app.user) }}</span>
					
					<div class="details">
						<span class="infos">
							{% if projet.description != null %}
								
								{% set length = projet.description | length %}
								{% if length < 46 %}
									{{ projet.description }}
								{% else %}
									{{ projet.description | slice(0, 45) }}...
								{% endif %}

							{% else %}
							    
								Aucune description

							{% endif %}		
						</span>
					</div>
				</li>
			</a>

		{% else %}
			<article class="article login-error-message">
				<p>Vous n'avez pas de projet en ce moment. Vous voulez en créer un ? <a class="button-yes button-new-message" href="{{ path('kub_collaboration_projet_create') }}">C'est très simple</a></p>
			</article>
		{% endfor %}

	</article>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('ressources/jsmin/search.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ressources/jsmin/fuse.min.js') }}"></script>
{% endblock %}