{% extends "::base.html.twig" %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Mon compte</h2>
		
	</article>

	<article class="article infos">

		<span class="label">Identifiant :</span>
		<span class="info">{{ app.user.username }}</span>

		<span class="label">Adresse mail :</span>
		<span class="info">{{ app.user.email }}</span>
		
		{% if app.user.class == 'eleve' %}

			<span class="label">Niveau :</span>
			<span class="info">{{ app.user.niveau }}</span>

			<span class="label">Mes groupes :</span>
			<span class="info">
				{% for groupe in app.user.groupes %}
			    	<span class="li-list in-list person"><a href="{{ path('groupe_show', { id: groupe.id }) }}">{{ groupe }}</a></span>
				{% endfor %}
			</span>		

		{% endif %}

		</article>

		<article class="article infos">
			<h3>Parametres</h3>

			{% include "FOSUserBundle:Profile:edit_content.html.twig" %}

			<span class="label">Mot de passe :</span>
			<span class="input">
				<a href="{{ path('fos_user_change_password') }}">Modifier le mot de passe</a>
			</span>
		
	</article>

{% endblock %}