{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - {{ ressource }}
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Informations sur la ressource</h2>
	</article>

	<article class="article infos">

		<span class="label">Nom de la ressource :</span>
		<span class="info">{{ ressource }}</span>

		<span class="label">Description :</span>
		<span class="info">{{ ressource.description }}</span>

		<span class="label">Niveau :</span>
		<span class="info">{{ ressource.niveau }}</span>

		<span class="label">Matière :</span>
		<span class="info">{{ ressource.matiere }}</span>

		<span class="label">Auteur :</span>
		<span class="info">{{ ressource.auteur }}</span>

		<span class="label">Accès :</span>
		<span class="info">
			<a class="button" href="{{ ressource.url }}">Lien d'accès</a>
		</span>

		{% if not ressource.valide %}
			<p class="error">Cette ressource n'a pas été validée et n'est donc pas affichée par défaut</p>
		{% endif %}

		{% if app.user.id == ressource.depositaire.id %}
			<span class="modifier">
				{% if not ressource.valide %}
					{% if is_granted('ROLE_PROFESSEUR') %}
						{{ render(controller('KubRessourceBundle:Validation:valider', { id: ressource.id})) }}
					{% endif %}
				{% endif %}

				<a class="button" href="{{ path('kub_ressource_edit', { id: ressource.id }) }}">Modifier la ressource</a>
				<a class="button" href="{{ path('kub_ressource_delete', { id: ressource.id }) }}">Supprimer la ressource</a>
			</span>

		{% endif %}
		
	</article>

{% endblock %}