<span class="name">
	{{ form_errors(form.name) }} <div class="input">{{ form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}</div>
</span>

<span class="name">
	{{ form_label(form.notes) }}
	{{ form_errors(form.notes) }} <div class="input">{{ form_widget(form.notes) }}</div>
</span>

<span class="echeance">
	{{ form_label(form.echeance) }}
	{{ form_errors(form.echeance) }} <div class="input">{{ form_widget(form.echeance) }}</div>
</span>

{% if main is defined and not main %}
	<input type="button" class="options-button button" value="Plus d'options">
{% endif %}

<span class="plus">

	<span class="participants">
		{{ form_label(form.participants) }}
		{{ form_errors(form.participants) }} <div class="input">{{ form_widget(form.participants) }}</div>
	</span>

	<span class="ressources">
		{{ form_label(form.ressources) }}
		{{ form_errors(form.ressources) }} <div class="input">{{ form_widget(form.ressources) }}</div>
	</span>

	<span class="fichiers">
		{{ form_label(form.fichiers) }}
		{{ form_errors(form.fichiers) }} <div class="input">{{ form_widget(form.fichiers) }}</div>
	</span>
</span>