{% extends 'KubCollaborationBundle::layout.html.twig' %}

{% set organisateur = projet.organisateur %}

{% block content %}

	<h3 class="section-title">Liste des taches</h3>
	
	<article class="article">

		<ul>
			
			{% for listeTaches in organisateur.listeTaches %}
				<li class="liste-taches">

					<h4>{{ listeTaches }}</h4>
					<ul>
						{% for tache in listeTaches.taches %}
							<li class="tache loadable" data-slug={{ tache.slug }}>
								<span class="{% if tache.done %}
										checked
									{% else %}
									    unchecked
									{% endif %} 
								"></span>
								<span class="{{ tache.id }}t">{{ tache }}</span>
								<span class="voir">Cliquez pour voir</span>
								
							</li>
						{% endfor %}
						
						<li class="tache ajouter">
							<input type="button" class="button" value="Ajouter une tache">
							<div class="form-add">
								{{ render(controller('KubCollaborationBundle:Organisation:create', { projet_slug: projet.slug, liste_slug: listeTaches.slug })) }}
							</div>
						</li>

					</ul>
				</li>
			{% endfor %}
			<li class="liste-taches">
				{{ render(controller('KubCollaborationBundle:Organisation:createList', { slug: projet.slug })) }}
			</li>

		</ul>

	</article>

{% endblock %}

{% block js %}
	
	<script type="text/javascript" src="{{ asset('ressources/select2/select2.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('ressources/select2/select2.css') }}" />
	
	<script type="text/javascript">
		$(function($) {
			$('#kub_collaborationbundle_tache_participants').select2();
			$('#kub_collaborationbundle_tache_ressources').select2();
			$('#kub_collaborationbundle_tache_fichiers').select2();
		});

		$(function($){

			var currentSlug ;

			$('.tache.loadable').click(function(){

				var $this = $(this),
					$detail = $('<div>')
						.addClass('detail')
				;

				var slug = $this.attr('data-slug');

				if(currentSlug != slug){

					currentSlug = slug;

					$.ajax({
						url: "{{path('kub_collaboration_organisation_show', { projet_slug: projet.slug, tache_slug: 0 })}}".replace('0', currentSlug),
						type: "POST",
						timeout: 3000,
						success: function(r){ 

							$detail.fadeOut(200);
							$detail.html(r);
							$detail.appendTo($this);
							$detail.fadeIn(200);

						}
					});
				}

			});
		});

		$(function($){

			$('.options-button').click(function(){

				$(this).next().toggle().is(':visible') ? $(this).text("Moins d'options") : $(this).text("Plus d'options") ;

			}).click();
		
		});

	</script>

{% endblock %}

{##}