{% extends 'KubCollaborationBundle::layout.html.twig' %}

{% set organisateur = projet.organisateur %}

{% block content %}

	<h3 class="section-title">Liste des taches</h3>
	
	<article class="article">

		<ul>
			
			{% for listeTaches in organisateur.listeTaches %}
				<li class="liste-taches">

					<h4>
						<span>{{ listeTaches }}</span>
						<a class="delete-list" href="{{ path('kub_collaboration_organisation_delete_list', { projet_slug: projet.slug, liste_slug: listeTaches.slug }) }}">Suppr.</a>
					</h4>

					<ul>
						{% for tache in listeTaches.taches %}


							{% set done = tache.done %}

							<li class="tache loadable">
								<span class="{% if tache.done %} checked {% else %} unchecked {% endif %}" data-done="{{ done|number_format }}" data-id="{{ tache.id }}">{{ tache }}</span>
								<span class="voir" data-slug="{{ tache.slug }}">Plus</span>
								
							</li>
						{% endfor %}
						
						<li class="bouton-ajouter">+</li>
						<li class="tache ajouter">
							<div class="form-add">
								{{ render(controller('KubCollaborationBundle:Organisation:create', { projet_slug: projet.slug, liste_slug: listeTaches.slug })) }}
							</div>
						</li>

					</ul>
				</li>
			{% endfor %}
			<li class="liste-taches">
				{{ render(controller('KubCollaborationBundle:Organisation:createList', { slug: projet.slug })) }}
			</li>

		</ul>

	</article>

{% endblock %}

{% block js %}
	
	<script type="text/javascript" src="{{ asset('ressources/select2/select2.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('ressources/select2/select2.css') }}" />
	
	<script type="text/javascript">
		$(function($) {
			$('#kub_collaborationbundle_tache_participants').select2();
			$('#kub_collaborationbundle_tache_ressources').select2();
			$('#kub_collaborationbundle_tache_fichiers').select2();
		});

		$(function($){

			var current = { detail: $('<p>') } ;

			$('.voir').click(function(){

				var $this = $(this),
					slug = $this.attr('data-slug');

				if(current.slug != slug){

					var $detail = $('<div>').addClass('detail');

					current.detail.remove();
					current.slug = slug;
					current.detail = $detail;

					$.ajax({
						url: "{{path('kub_collaboration_organisation_show', { projet_slug: projet.slug, tache_slug: 0 })}}".replace('0', current.slug),
						type: "POST",
						timeout: 3000,
						success: function(r){ 
							$detail.html(r);
							$detail.appendTo($this.parent());
						}
					});
				}

				$(this).parent().find('.detail').toggle().is(':visible') ? $(this).text("Moins") : $(this).text("Plus") ;

			});
		});

		$(function($){

			$('.options-button').click(function(){

				$(this).next().toggle().is(':visible') ? $(this).text("Moins d'options") : $(this).text("Plus d'options") ;

			}).click();
			
			$('.ajouter').hide();

			$('.bouton-ajouter').click(function() {
				$(this).hide().parent().children('.ajouter').show();
			});

			$('.checked, .unchecked').click(function(){

				var $this = $(this),
					done = $this.attr('data-done') == 1 ? 0 : 1 ;
				
				$label = $this.parent().find('span.checked, span.unchecked');
				
				if(done){
					
					$label.addClass('checked') ; 
					$label.removeClass('unchecked');

				} else {

					$label.addClass('unchecked') ; 
					$label.removeClass('checked');

				}

				$this.attr('data-done', done);

				$.ajax({
					url: "{{path('kub_api_collaboration_organisation_tache_done')}}",
					data: {
						'id': parseInt($this.attr('data-id')),
						'done': done
					},
					type: "POST",
					timeout: 3000
				});
			});
		});

	</script>

{% endblock %}

{##}