<!-- <p>Date d'échance: {{ tache.echeance|date('Y/m/d') }}</p> -->

<p>
	<a class="button" href="{{ path('kub_collaboration_organisation_edit', { projet_slug: projet.slug, tache_slug: tache.slug }) }}">Modifier</a>	

	{% set participe = (app.user in tache.participants) == true %}
	<span
		class='button participe{{ sess_id }}' 
		data-participe="{{ participe|number_format }}"
		data-id="{{ tache.id }}"
	>
		{% if participe == false %} Participer {% else %} Ne plus participer {% endif %}	
	</span>
</p>

<p class="participants" id="participants{{ sess_id }}">{{ tache.participantsAsString(app.user) | capitalize}}</p>

<script>

	$(function($) {

		$participants = $('#participants{{ sess_id }}');
		$('span.participe{{ sess_id }}').click(function(){

			var $this = $(this);
			var participe = $this.attr('data-participe') == 1 ? 0 : 1 ;
			$this.attr('data-participe', participe);

			switch(participe)
			{
				case 0:
					$this.text('Participer');
					break;
				case 1:
					$this.text('Ne plus participer');
					break;
			}

			$.ajax({
				url: "{{path('kub_api_collaboration_organisation_tache_participe')}}",
				data: {
					'id': parseInt($this.attr('data-id')),
					'participe': participe
				},
				type: "POST",
				timeout: 3000,
				success: function(r){ $participants.text(r); }
			});
		});
	});
</script>