<p id="participants{{ sess_id }}">
	<em>{{ tache.participantsAsString(app.user) | capitalize}}</em>
</p>
<p>
	<em>A faire avant le <strong>{{ tache.echeance|date('Y/m/d') }}</strong></em>
</p>
<ul class="list-in-detail"><em>
	<p>Fichiers associés :</p>
	{% for fichier in tache.fichiers %}
		<li>-&nbsp;&nbsp;{{ fichier }}</li>
	{% endfor %}
</em></ul>
<ul class="list-in-detail"><em>
	<p>Ressources associés :</p>
	{% for ressource in tache.ressources %}
		<li>-&nbsp;&nbsp;{{ ressource }}</li>
	{% endfor %}
</em></ul>

<p class="buttons-detail">
	{% set done = tache.done %}
	<span
		class='button-detail done{{ sess_id }}' 
		data-done="{{ done|number_format }}"
		data-id="{{ tache.id }}"
	>
		{% if done == false %} À faire {% else %} Fait {% endif %}	
	</span>

	<a class="button-detail" href="{{ path('kub_collaboration_organisation_edit', { projet_slug: projet.slug, tache_slug: tache.slug }) }}">Modifier</a>	

	{% set participe = (app.user in tache.participants) %}
	<span
		class='button-detail participe{{ sess_id }}' 
		data-participe="{{ participe|number_format }}"
		data-id="{{ tache.id }}"
	>
		{% if participe == false %} Participer {% else %} Ne plus participer {% endif %}	
	</span>
</p>

<script>

	$(function($) {

		$participants = $('#participants{{ sess_id }}');
		$('span.participe{{ sess_id }}').click(function(){

			var $this = $(this);
			var participe = $this.attr('data-participe') == 1 ? 0 : 1 ;
			$this.attr('data-participe', participe);

			switch(participe)
			{
				case 0:
					$this.text('Participer');
					break;
				case 1:
					$this.text('Ne plus participer');
					break;
			}

			$.ajax({
				url: "{{path('kub_api_collaboration_organisation_tache_participe')}}",
				data: {
					'id': parseInt($this.attr('data-id')),
					'participe': participe
				},
				type: "POST",
				timeout: 3000,
				success: function(r){ $participants.text(r); }
			});
		});
	});
</script>

<script>

	$(function($) {

		$done = $('#done{{ sess_id }}');
		$('span.done{{ sess_id }}').click(function(){

			var $this = $(this),
				done = $this.attr('data-done') == 1 ? 0 : 1 ;
			
			$label = $this.parent().parent().parent().find('span.checked, span.unchecked');
			
			if(done){
				
				$label.addClass('checked') ; 
				$label.removeClass('unchecked');

			} else {

				$label.addClass('unchecked') ; 
				$label.removeClass('checked');

			}

			$this.attr('data-done', done);
			switch(done)
			{
				case 0:
					$this.text('À faire');
					break;
				case 1:
					$this.text('Fait');
					break;
			}

			$.ajax({
				url: "{{path('kub_api_collaboration_organisation_tache_done')}}",
				data: {
					'id': parseInt($this.attr('data-id')),
					'done': done
				},
				type: "POST",
				timeout: 3000
			});
		});
	});
	
</script>