{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Fil d'Ariane
{% endblock %}

{% block body %}

	<div class="article">
		<h3 class="section-title">Fil d'Ariane</h3>
	</div>

	{% if is_granted('ROLE_ELEVE') %}
		{% render(controller("KubArianeBundle:Post:add")) %}
	{% endif %}

	{% for post in liste_posts %}

		<article class="article-news bordered-espace-collaboratif">
			<div class="head-article">
				<h3 class="h2">{{ post.titre }}</h3>
				<span class="small bold">{{ post.dateAjout | date('d/m/Y')}}</span>
			</div>

			<div class="content-article">
				{{ post.contenu | raw }}
			</div>
			
			{% if is_granted("ROLE_ELEVE") %}
			<div class="buttons-article-news">
				<a class="button-espace-collaboratif" href="{{ path('ariane_post_edit', { 'id': post.id }) }}">Modifier</a>
			</div>
			{% endif %}

			<a class="show-comments" href="#">Afficher les commentaires <span class="nombre-commentaires">{{ post.commentaires | length}}</span></a>

			<div class="comments">
				{% if post.commentaires | length > 0 %}
					<ul>

					{% for commentaire in post.commentaires %}
							<li class="commentaire">
								<span>
									<span class="auteur">{{ commentaire.auteur }} : </span>
									<span>{{ commentaire.contenu }}</span>
									
									{% if app.user == commentaire.auteur %}
										&nbsp;{{ render(controller('KubArianeBundle:Commentaire:delete', { commentaire: commentaire.id })) }}
									{% endif %}
								</span>
							</li>
					{% endfor %}
					</ul>
				{% else %}
					<span class="commentaire">Aucun commentaire pour le moment</span>
				{% endif %}

				{{ render(controller('KubArianeBundle:Commentaire:add', { post: post.id })) }}
			</div>
		</article>

	{% endfor %}

{% endblock %}

{% block js %}
	
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('ressources/jsmin/ariane.min.js') }}"></script>

{% endblock %}