{% extends "::base.html.twig" %}

{% block body %}

	{% if is_granted('ROLE_ELEVE') %}
		<article class="article">
			{{ render(controller("KubArianeBundle:Post:add")) }}
		</article>
	{% endif %}

	<article class="article">

		{% for post in liste_posts %}

			<h2>{{ post.titre }}</h2>
			<p>{{ post.contenu }}</p>

			{% if is_granted("ROLE_ELEVE") %}
				<p><a href="{{ path('ariane_post_edit', { 'id': post.id }) }}">Modifier la trace</a></p>
				<p><a href="{{ path('ariane_post_delete', { 'id': post.id }) }}">Supprimer la trace</a></p>
			{% endif %}

			<br><br>

			<ul>
				{% for commentaire in post.commentaires %}

					<li> {{ commentaire.contenu }} 

					{% if app.user == commentaire.auteur %}
						{{ render(controller('KubArianeBundle:Commentaire:delete', { commentaire: commentaire.id })) }}</li>
					{% endif %}

				{% endfor %}

				{{ render(controller('KubArianeBundle:Commentaire:add', { post: post.id })) }}

			</ul>

		{% endfor %}

	</article>

{% endblock %}