{% block form %}

	<span class="prenom">
		{{ form_label(form.prenom) }} 
		{{ form_errors(form.prenom) }} <div class="input">{{ form_widget(form.prenom) }}</div>
	</span>

	<span class="nom">
		{{ form_label(form.nom) }} 
		{{ form_errors(form.nom) }} <div class="input">{{ form_widget(form.nom) }}</div>
	</span>

	<span class="email">
		{{ form_label(form.email) }} 
		{{ form_errors(form.email) }} <div class="input">{{ form_widget(form.email) }}</div>
	</span>

	<span class="type">
		{{ form_label(form.type) }} 
		{{ form_errors(form.type) }} <div class="input">{{ form_widget(form.type) }}</div>
	</span>

	<span class="locked">
		{{ form_errors(form.locked) }}
		{{ form_label(form.locked) }}
		<span>{{ form_widget(form.locked.0) }} {{ form_label(form.locked.0) }}</span>
		<span>{{ form_widget(form.locked.1) }} {{ form_label(form.locked.1) }}</span>  
	</span>

{% endblock %}
