{% block form %}

	<span class="prenom">
		{{ form_error(form.prenom) }}
		{{ form_label(form.prenom) }} <div class="input">{{ form_widget(form.prenom) }}</div>
	</span>

	<span class="nom">
		{{ form_error(form.nom) }}
		{{ form_label(form.nom) }} <div class="input">{{ form_widget(form.nom) }}</div>
	</span>

	<span class="email">
		{{ form_error(form.email) }}
		{{ form_label(form.email) }} <div class="input">{{ form_widget(form.email) }}</div>
	</span>

{% endblock %}
