{% block form %}
	
	<span class="prenom">
		{{ form_label(form.prenom) }} <div class="input">{{ form_widget(form.prenom) }}</div>
	</span>

	<span class="nom">
		{{ form_label(form.nom) }} <div class="input">{{ form_widget(form.nom) }}</div>
	</span>

	<span class="email">
		{{ form_label(form.email) }} <div class="input">{{ form_widget(form.email) }}</div>
	</span>

	<span class="fixe">
		{{ form_label(form.fixe) }} <div class="input">{{ form_widget(form.fixe) }}</div>
	</span> 

	<span class="mobile">
		{{ form_label(form.mobile) }} <div class="input">{{ form_widget(form.mobile) }}</div>
	</span>

	<span class="adresse">
		{{ form_label(form.adresse) }} <div class="input">{{ form_widget(form.adresse) }}</div>
	</span>

{% endblock %}
