{% extends "KubUserBundle:Manage:user_create.html.twig" %}

{% block body %}

		<article class="article">
			<h2 class="section-title">{{ user.prenom }} {{ user.nom }}</h2>
		</article>

		<article class="article">
			{{ form_start(form, { 'attr': {'class': 'formulaire-creation-utilisateur'} }) }}

				{% block form %}
				{% endblock %}

				<input class="button-yes" type="submit">
				<a class="button" href="{{ path('user_list', { role: user.class }) }}">Annuler</a>
				<a class="button-no" href="{{ path("user_delete", { username: user.username, role: role }) }}">Supprimer {{ user.prenom }} {{ user.nom }}</a>
			{{ form_end(form) }}
		</article>
			
{% endblock %}