{% extends "::base.html.twig" %}

{% block body %}

		<article class="error">
			{{ form_start(form) }}

			<p>Êtes vous sûr de vouloir supprimer le compte {{ role }} de <strong>{{ user }}</strong> ?</p>

				{% block form %}
				{% endblock %}
				
				<br />
				<input class="button-yes" type="submit"> ou <a class="button" href="{{ path('user_list', { role: role }) }}">Annuler</a>	
			{{ form_end(form) }}
		</article>
		
			
{% endblock %}