{% extends "::base.html.twig" %}

{% block body %}

	<h1>Modifier {{ user.prenom }} {{ user.nom }}</h1>
	{{ form_start(form) }}

		{{ form_widget(form) }}
    	<input type="submit" />

	{{ form_end(form) }}

{% endblock %}