{% extends "::base.html.twig" %}

{% block body %}
	
		<article class="article">
			<h2 class="section-title">Créer un {{ user.class }}</h2>
		</article>

		<article class="article">
			{{ form_start(form, { 'attr': {'class': 'formulaire-creation-utilisateur'} }) }}

				{% block form %}
				{% endblock %}

			<input class="button-yes" type="submit">
			<a class="button" href="{{ path('user_list', { role: user.class }) }}">Annuler</a>
			{{ form_end(form) }}
		</article>			

{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ asset('ressources/select2/select2.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('ressources/select2/select2.css') }}" />
	{{ form_javascript(form) }}
	{{ form_stylesheet(form) }}
{% endblock %}