{% extends "::base.html.twig" %}

{% block body %}

	
		<article class="article">
			<h2 class="section-title">Supprimer un {{ user.class }}</h2>
		</article>

		<article class="error color-light">
			{{ form_start(form) }}

			<p>Êtes vous sûr de vouloir supprimer le compte de {{ user }} ?</p>

				{% block form %}
				{% endblock %}
				
				<br />
				<input class="button-yes" type="submit"> ou <a class="button-no" href="{{ path('user_list', { role: role }) }}">Annuler</a>	
			{{ form_end(form) }}
		</article>
		
			
{% endblock %}