{% extends "KubUserBundle:Manage:user_create.html.twig" %}

{% block body %}

	<article class="article">
		<h2 class="section-title">{{ user.prenom }} {{ user.nom }}</h2>
	</article>

	<article class="article">
		{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

			{% include "KubUserBundle:Manage:" ~ user.class ~ "_form.html.twig" %}

			<span class="validate">
				<input class="button-yes" type="submit">
				<a class="button" href="{{ path('user_list', { role: user.class }) }}">Annuler</a>
				<a class="button-no" href="{{ path("user_delete", { username: user.username, role: role }) }}">Supprimer {{ user.prenom }} {{ user.nom }}</a>
			</span>

			
		{{ form_end(form) }}
	</article>
			
{% endblock %}

{% block js %}

	{% if user.class == "eleve" %}	

		<script>
	    	// garde une trace du nombre de champs tuteurs qui ont été affichés
	    	var tuteurCount = '{{ form.tuteurs | length }}';

		    $(document).ready(function() {
		        $('.add-another-tuteurs').click(function() {
		            var tuteurList = $('.tuteurs-add');

		            var newWidget = tuteurList.attr('data-prototype');
		            newWidget = newWidget.replace(/__name__/g, tuteurCount);
		            tuteurCount++;

		            var newLi = $('<div class="tuteur-in-eleve"></div>').html(newWidget);
		            newLi.appendTo(tuteurList);

		            return false;
		        });

		        $('div:contains("Tuteurs add")').remove();
		    })
		</script>

	{% endif %}

	{% if user.class == "eleve" or user.class == "tuteur" %}	
		
		<script type="text/javascript" src="{{ asset('ressources/select2/select2.min.js') }}"></script>
		<link rel="stylesheet" href="{{ asset('ressources/select2/select2.css') }}" />
		{{ form_javascript(form) }}
		{{ form_stylesheet(form) }}

	{% endif %}

{% endblock %}