{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Messages
{% endblock %}

{% block body %}
	
	<div class="article">
		<h3 class="section-title">Mes messages</h3>
	</div>

	<article class="article">
		<a class="button-yes button-new-message" href="{{ path('kub_messagerie_new') }}">Nouveau</a>

		<table>
		{% for thread in threads %}

			{% set lastMessage = thread.messages | last %}
			
			<a href="{{ path('kub_messagerie_read', { id: thread.id }) }}">
				<p class="apercu-message">
					<span>

						Le <strong>{{ lastMessage.date | date('d/m/y')}}</strong>, 

						{% if lastMessage.sender.id == app.user.id %}
							
							vous avez dit

							 "<strong>
								{% if lastMessage.contenu | striptags | length > 10 %}
									{{ lastMessage.contenu | striptags | slice(0, 9) }}...
								{% else %}
									{{ lastMessage.contenu | striptags }}
								{% endif %}
							</strong>" 

							à

							{% if thread.users|length > 1 %}
								{% for receveur in thread.users %}
									{% if receveur.id != app.user.id and loop.last == false %}
										<strong> {{ receveur }}, </strong>
									{% endif %}

									{% if receveur.id != app.user.id and loop.last == true %}
										<strong> {{ receveur }} </strong>
									{% endif %}
								{% endfor %}

								{% for receveur in thread.groupes %}
									{% if loop.last == false %}
										<strong> {{ receveur }}, </strong>
									{% else %}
										<strong> {{ receveur }} </strong>
									{% endif %}
									
								{% endfor %}
							{% else %}
								vous même
							{% endif %}

						{% else %}
							
							<strong>{{ lastMessage.sender }}</strong> a dit

							 "<strong>
								{% if lastMessage.contenu | striptags | length > 10 %}
									{{ lastMessage.contenu | striptags | slice(0, 9) }}...
								{% else %}
									{{ lastMessage.contenu | striptags }}
								{% endif %}
							</strong>"

							. 

						{% endif %}
					</span>		
				
					<span class="actions-messages">

						{% if not lastMessage.messageUser.0.readed %}
                            <span class="notification-new-message">Nouveau</span>
                        {% endif %} 

						<span class="undelete-message">Afficher</span>
						ou
						{{ render(controller("KubMessagerieBundle:Default:delete", { id: thread.id })) }}

					</span>
				</p>
			</a>
		{% endfor %}
		</table>
	</article>

{% endblock %}

{#

{% block js %}
	<!-- <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script> -->
    <script type="text/javascript" src="{{ asset('ressources/tinymce/tinymce.min.js') }}"></script>
	<script>
		jQuery(document).ready(function($) {
		    var $configs = {
				        selector: "textarea",
				        plugins: [
				                "autolink link charmap",
				                "searchreplace",
				                "textcolor"
				        ],

				        toolbar1: "undo redo | bold italic underline strikethrough | forecolor | subscript superscript charmap | removeformat | searchreplace | link unlink",
				        toolbar2: "",
				        toolbar3: "",

				        menubar: false,
				        statusbar: false,
				        toolbar_items_size: 'small',
				};
		    tinyMCE.init($configs);

		    $('textarea').removeAttr('required');
		});
	</script>
{% endblock %} #}