{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Messages
{% endblock %}

{% block body %}
	
	<div class="article">
		<h3 class="section-title">Mes messages</h3>
	</div>

	<article class="article">
		<a class="button-yes button-new-message" href="{{ path('kub_messagerie_new') }}">Nouveau</a>

		<table>
		{% for thread in threads %}

			{% set lastMessage = thread.messages | last %}
			
			<p class="apercu-message">
				<a href="{{ path('kub_messagerie_read', { id: thread.id }) }}">
					<span>

						Le <strong>{{ lastMessage.date | date('d/m/y')}}</strong>, 

						{% if lastMessage.sender.id == app.user.id %}
							
							vous avez dit

							 "<strong>
								{% if lastMessage.contenu | length > 10 %}
									{{ lastMessage.contenu | slice(0, 9) }}...
								{% else %}
									{{ lastMessage.contenu }}
								{% endif %}
							</strong>" 

							à

							{% if thread.users|length > 1 %}
								{% for receveur in thread.users %}
									{% if receveur.id != app.user.id %}
										<strong> {{ receveur }} </strong>
									{% endif %}
								{% endfor %}

								{% for receveur in thread.groupes %}
									<strong> {{ receveur }} </strong>
								{% endfor %}
							{% else %}
								vous même
							{% endif %}

						{% else %}
							
							<strong>{{ lastMessage.sender }}</strong> a dit

							 "<strong>
								{% if lastMessage.contenu | striptags | length > 10 %}
									{{ lastMessage.contenu | striptags | slice(0, 9) }}...
								{% else %}
									{{ lastMessage.contenu | raw }}
								{% endif %}
							</strong>"

							. 

						{% endif %}

						{% if not lastMessage.messageUser.0.readed %}
                            <span class="notifications new-message">Nouveau</span>
                        {% endif %} 

						{# <span class="actions-messages">
							<span class="undelete-message">Afficher</span>
							{% if fos_message_can_delete_thread(thread) %}
								ou
								{% if fos_message_deleted_by_participant(thread) %}
									{% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
									{% set submitValue %}Restaurer{% endset %}
									<form action="{{ formAction }}" method="post" class="hidden">
										<input type="submit" value="{{ submitValue }}" class="undelete-message"/>
									</form>
								{% else %}
									{% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
									{% set submitValue %}Supprimer{% endset %}
									<form action="{{ formAction }}" method="post" class="hidden">
										<input type="submit" value="{{ submitValue }}" class="delete-message"/>
									</form>
								{% endif %}
							{% endif %}
						</span> #}
					</span>		
				</a>
				{{ render(controller("KubMessagerieBundle:Default:delete", { id: thread.id })) }}
			</p>    
		{% endfor %}
		</table>
	</article>

{% endblock %}

{#
	<article class="article">

		<ul class="liens">
			{% if app.request.attributes.get("_route") != "fos_message_thread_new" %}
				<li><a class="button-yes button-message-left" href="{{ url('fos_message_thread_new' )}}">Nouveau</a></li>
			{% endif %}

			{% if app.request.attributes.get("_route") != "fos_message_deleted" and app.request.attributes.get("_route") != "fos_message_thread_new" and app.request.attributes.get("_route") != "fos_message_thread_view" %}
				<li><a class="button-no button-message-right" href="{{ url('fos_message_deleted') }}">Messages supprimés</a></li>
			{% endif %}

			{% if app.request.attributes.get("_route") != "fos_message_inbox" %}
				<li><a class="button button-message-{% if app.request.attributes.get("_route") != "fos_message_thread_new" %}right{% else %}left{% endif %}" href="{{ url('fos_message_inbox') }}">Boite de réception</a></li>
			{% endif %}
		</ul>

		{% block fos_message_content %}{% endblock %}
	</article>
{% endblock %}

{% block js %}
	<!-- <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script> -->
    <script type="text/javascript" src="{{ asset('ressources/tinymce/tinymce.min.js') }}"></script>
	<script>
		jQuery(document).ready(function($) {
		    var $configs = {
				        selector: "textarea",
				        plugins: [
				                "autolink link charmap",
				                "searchreplace",
				                "textcolor"
				        ],

				        toolbar1: "undo redo | bold italic underline strikethrough | forecolor | subscript superscript charmap | removeformat | searchreplace | link unlink",
				        toolbar2: "",
				        toolbar3: "",

				        menubar: false,
				        statusbar: false,
				        toolbar_items_size: 'small',
				};
		    tinyMCE.init($configs);

		    $('textarea').removeAttr('required');
		});
	</script>
{% endblock %} #}