{% block form %}
	<span class="search-appel">
		<label for="search-in-list">Chercher dans la liste :</label>
		<input id="search-in-list" type="text">
	</span>
	

		<input class="button-yes validate-appel" type="submit">

	<ul class="liste">
		{% for statut in form.absences %}

			{% set eleve = eleves[ loop.index0 ] %}

			{{ form_errors(statut) }}
			<li class="in-list person">
				<img src="{{ asset(eleve.photo.webPath) }}" alt="{{ eleve }}" class="eleve-img"/>

				{% for element in statut %}
				    <span class="name-eleve">{{ form_label(element) }} {{ form_widget(element, {"attr": {"class": "input-appel"}}) }}</span>
				{% endfor %}
			</li>

		{% endfor %}
	</ul>
{% endblock %}