{% extends '::base.html.twig' %}

{% block title %}
	{{ parent() }} - {{ projet.name }}
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">
			{{ projet.name }}
		</h2>
	</article>

	<article class="article">	
		<a href="{{path('kub_collaboration_projet_show', { slug: projet.slug })}}" class="button">Accueil</a>

		{% if app.request.attributes.get('_route') != "kub_collaboration_organisation_index" %}
			<a href="{{ path('kub_collaboration_organisation_index', { slug: projet.slug }) }}" class="button">Taches</a>
		{% endif %}

		{% if app.request.attributes.get('_route') != "kub_collaboration_documentheque_show" %}
			<a href="{{ path('kub_collaboration_documentheque_show', { slug: projet.slug }) }}" class="button">Documents</a>
		{% endif %}

		{% if is_granted('ADMINISTRATEUR', projet) %}
				<a href="{{ path('kub_collaboration_projet_edit', { slug: projet.slug }) }}" class="button">Options</a>
		{% endif %}
	</article>

	{% block content %}
	    
	{% endblock %}

{% endblock %}