{% extends '::base.html.twig' %}

{% block body %}
    
	<h1 class="h1 article">{{ projet.name }} {{ projet.usersAsString }}</h1>

	<article class="article">	
		{% if is_granted('ADMINISTRATEUR', projet) %}
				<a href="{{ path('kub_collaboration_projet_edit', { slug: projet.slug }) }}" class="button">Gérer</a>
		{% endif %}

		{% if app.request.attributes.get('_route') != "kub_collaboration_documentheque_show" %}
			<a href="{{ path('kub_collaboration_documentheque_show', { slug: projet.slug }) }}" class="button">Voir la documentheque</a>
		{% endif %}

		{% if app.request.attributes.get('_route') != "kub_collaboration_organisation_index" %}
			<a href="{{ path('kub_collaboration_organisation_index', { slug: projet.slug }) }}" class="button">Voir l'organisation</a>
		{% endif %}
	</article>

	{% block content %}
	    
	{% endblock %}

{% endblock %}