{% extends '::base.html.twig' %}

{% block title %}
	{{ parent() }} - {{ projet.name }}
{% endblock %}

{% block body %}

	<article class='article'>	
		{% if app.request.attributes.get('_route') != 'kub_collaboration_organisation_index' %}
			<a href='{{ path('kub_collaboration_organisation_index', { slug: projet.slug }) }}' class='button project-nav'>Taches</a>
		{% endif %}

		{% if app.request.attributes.get('_route') != 'kub_collaboration_documentheque_show' %}
			<a href='{{ path('kub_collaboration_documentheque_show', { slug: projet.slug }) }}' class='button project-nav'>Documents</a>
		{% endif %}

		{% if is_granted('ADMINISTRATEUR', projet) and app.request.attributes.get('_route') != 'kub_collaboration_projet_edit '  %}
				<a href='{{ path('kub_collaboration_projet_edit', { slug: projet.slug }) }}' class='button project-nav'>Options</a>
		{% endif %}

	</article>
	
	<article class='article'>
		<h2 class='section-title project-title'>
			<a href='{{ path('kub_collaboration_projet_show', {slug: projet.slug}) }}'>{{ projet.name }} <span class='project-users'>{{ projet.getUsersAsString(app.user) }}</span></a>
		</h2>
	</article>

	{% block content %}
	    
	{% endblock %}

{% endblock %}
