{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Modifier le cours {{ cours }}
{% endblock %}

{% block body %}
	
	<article class="article">
		<h2 class="section-title">{{ cours }}</h2>
	</article>

	{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

			{% include "KubEDTBundle:Cours:form.html.twig" %}

			<span class="validate">
				<input class="button-yes" type="submit">
				<a class="button" href="{{ path('cours_list') }}">Annuler</a>
				<a class="button-no" href="{{ path("cours_delete", { id: cours.id }) }}">Supprimer {{ cours }}</a>
			</span>
		{{ form_end(form) }}		
			
{% endblock %}

{% block js %}
	
	<script>
    	// garde une trace du nombre de champs horaires qui ont été affichés
    	var tuteurCount = '{{ form.horaires | length }}';

	    $(document).ready(function() {
	        $('.add-another-horaires').click(function() {
	            var tuteurList = $('.horaires-add');

	            var newWidget = tuteurList.attr('data-prototype');
	            newWidget = newWidget.replace(/__name__/g, tuteurCount);
	            tuteurCount++;

	            var newLi = $('<div class="horaires"></div>').html(newWidget);
	            newLi.appendTo(tuteurList);

	            return false;
	        });
	    })
	</script>

	<script type="text/javascript" src="{{ asset('ressources/select2/select2.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('ressources/select2/select2.css') }}" />
	{{ form_javascript(form) }}
	{{ form_stylesheet(form) }}

{% endblock %}