{% extends "::base.html.twig" %}

{% block body %}

	
		<article class="article">
			<h2 class="section-title">Modifier {{ cours }}</h2>
		</article>

		<article class="article">
			{{ form_start(form) }}

				{{ form_widget(form) }}

				<input type="submit">
			{{ form_end(form) }}
		</article>

		<article class="article">
			
			<a href="{{ path("cours_delete", { id: cours.id }) }}">...ou supprimer {{ cours }}</a>

		</article>
		
			
{% endblock %}