{% block form %}
	
	<span class="professeur">
		{{ form_errors(form.professeur) }}
		{{ form_label(form.professeur) }} <div class="input">{{ form_widget(form.professeur) }}</div>
	</span>

	<span class="groupes">
		{{ form_errors(form.groupes) }}
		{{ form_label(form.groupes) }} <div class="input">{{ form_widget(form.groupes) }}</div>
	</span>

	<span class="matiere">
		{{ form_errors(form.matiere) }}
		{{ form_label(form.matiere) }} <div class="input">{{ form_widget(form.matiere) }}</div>
	</span>

	{% for horaire in form.horaires %}
		<div class="horaires">
			{% include 'KubEDTBundle:Cours:horaires_form.html.twig' with {'form': horaire} %}
		</div>
		
	{% endfor %}

	<div class="horaires-add" data-prototype="{% filter escape %}{% include 'KubEDTBundle:Cours:horaires_form.html.twig' with {'form': form.horaires.vars.prototype} %}{% endfilter %}">

	</div>

	<span class="horaires-button">
		<a class="button add-another-horaires" href="#" >Ajouter un horaire</a>
	</span>

{% endblock %}